<h3>Posts</h3>
<%@posts.each do |post|%>
  <div class='post_style'>
  <h3><a href="/posts/<%=post.id%>"><%=post.title%></a></h4>
  <p>Author: <%=post.user.username%></p>
  <p><%=post.content%></p>
  <%post.tags.each do |tag|%>
    <p><%=tag.name%></p>
  <%end%>
  </div>
<%end%>

<a href='/posts/new'>New Post</a>
<br />
<a href="/logout">Logout</a>
